.aside {
    width: 265px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);
    padding: 0;
    background: #FFF;
}

.aside-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
}

.aside-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 25px;
    font-size: 24px;
    font-weight: 600;
}

.aside-menu {
    width: 265px;
}

.menu-column {
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    margin-top: 20px;
}

.menu-item {
    display: block;
}

.menu-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    transition: none;
    outline: none!important;
}